Repository xiaoruiDong/RDMC: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy, docformatter, pydoclint

ruff-format:
  name: ruff-format
  entry: ruff format
  language: python
  pass_filenames: true

ruff-check:
  name: ruff-check
  entry: ruff check
  language: python
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: python
  pass_filenames: true

docformatter:
  name: docformatter
  entry: docformatter
  language: python
  args:
  - --wrap-summaries
  - '88'
  - --wrap-descriptions
  - '88'
  - --in-place
  pass_filenames: true

pydoclint:
  name: pydoclint
  entry: pydoclint
  language: python
  args:
  - --style=google
  pass_filenames: true

ci: test a new fix to windows
  .github/workflows/ci.yaml
Due: none

ci: correct conda env name
  .github/workflows/ci.yaml
Due: none

style: rdtools.__init__
  rdtools/__init__.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

style: fix rdtools.fix continued
  rdtools/fix/__init__.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

fix: type check for rdqueries
  rdtools/fix/mult.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

fix: replace np.alltrue with np.all
  rdmc/external/logparser/base.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

chore: comment out blocks using external libraries in for Conformer Generation Workflow
  ipython/Conformer Generation Workflow.ipynb
Due: none

ci: run modern check tools on rdtools
  .github/workflows/ci.yaml
Due: none

chore: update License file
  LICENSE
Due: none

style: fix rdtools.fix
  rdtools/fix/fix.py
  rdtools/fix/mult.py
  rdtools/fix/remedy.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

style: fix rdtools.reaction
  rdtools/reaction/__init__.py
  rdtools/reaction/analysis.py
  rdtools/reaction/draw.py
  rdtools/reaction/stereo.py
  rdtools/reaction/ts.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

ci: update testing notebooks
  .github/workflows/ci.yaml
  ipython/Forcefield Examples.ipynb
  ipython/Handle molecule with XYZ.ipynb
  ipython/QM Parser Demo 1 - Built-in Parser.ipynb
  ipython/QM Parser Demo 2 - General Parser.ipynb
  ipython/Viewer Examples.ipynb
Due: none

ci: install ipywidgets before test notebooks
  .github/workflows/ci.yaml
Due: none

fix: fix viewer_size not assigned in reaction view
  rdtools/view/reaction.py
Due: ruff-format, ruff-check, mypy, docformatter, pydoclint

ci: disable testing notebook on windows-latest
  .github/workflows/ci.yaml
Due: none

ci: fix typo in ci.yaml
  .github/workflows/ci.yaml
Due: none

chore: bump conda version to 1.0.0
  .conda/release/meta.yaml
Due: none

docs: update README
  README.md
Due: none

ci: build docs using python 3.12
  .github/workflows/build_docs.yaml
Due: none

docs: update author information
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/cite.rst
  docs/source/reference/credits.rst
Due: ruff-format, ruff-check, mypy

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy: any of: \.py$
  docformatter: any of: ^(rdmc|rdtools)/ and \.py$
  pydoclint: any of: ^(rdmc|rdtools)/ and \.py$
